<div class="carrousel carrousel-display-container">
    <img class="carrousel__item" src="img/slider-imagen1.png" alt="imagen2">
    <img class="carrousel__item" src="img/slider-imagen2.png" alt="imagen2">
    <img class="carrousel__item" src="img/slider-imagen3.png" alt="imagen3">
    <button class="carrousel__button carrousel__button-left">&#10094;</button>
    <button class="carrousel__button carrousel__button-right">&#10095;</button>
</div>

<section class="section-cards">
    <header class="section-cards__header">
        <h1>Productos</h1>
        <p>Novedades</p>
        <div></div>
    </header>

    <div class="cards-container">
    </div>

    <footer class="section-cards__footer">
        <div class="section-cards__us">
            <span>Juguetería Cósmica</span>
            <p>Inagurada en 2022, nuestra juguetería se destaca por nuestros <br> innovadores productos y atención personalizada.</p>
        </div>
        <div class="section-cards__payment-methods">
            <span>Metodos de pago</span>
            <ul class="section-cards_list">
                <li class="section-cards_item"><img class="section-cards__img section-cards__img--bigger1" src="img/credit-card.png" alt="tarjetas"> Tarjetas de debito y credito</li>
                <li class="section-cards_item"><img class="section-cards__img section-cards__img--bigger2" src="img/mercado-pago.png" alt="tarjetas"> Mercado pago</li>
            </ul>
        </div>
        <div class="section-cards__contact">
            <span>Contacto</span>
            <ul class="section-cards_list">
                <li class="section-cards_item"><img class="section-cards__img" src="img/logo-whatsapp.png" alt="Logo"> 11 5556-7890</li>
                <li class="section-cards_item"><img class="section-cards__img" src="img/logo-email.png" alt=""> ventas@jugueteríacósmica.com.ar</li>
            </ul>
        </div>
    </footer>
</section>