<section class="section-us">
    <header class="section-us__header">
        <h1>Nosotros</h1>
        <div></div>
    </header>

    <div class="us">
        <div class="us__item1">
            <p>Juguetería cósmica es un trabajo realizado para EducaciónIT. Tanto el javaScript como el css de este proyecto esta realizado por mi, asi como ciertas partes del HTML.</p>
            <p>Me llamo Caterina Galli, tengo 23 años y actualmente estoy cursando el bootcamp de full stack engineer. Tengo conocimiento en los lenguajes de HTML, css, sass y javaScript. </p>
            <p>Ademas tengo estudios en ilustración, animación y diseño. Adquiridos en la carrera de tecnicatura superior de dibujos animados de image campus.</p>
        </div>
        <div class="us__container">
            <div class="us__item2">
                <span>Programas que manejo:</span>
                <ul class="us__list">
                    <li>Illustrator</li>
                    <li>Toonboom</li>
                    <li>Adobe animate</li>
                    <li>After effects</li>
                    <li>Photoshop</li>
                    <li>Visual studio code</li>
                    <li>Clip studio</li>
                </ul>
            </div>
            <div class="us__item4">
                <img src="../img/luna.png" alt="Luna">
            </div>
            <div class="us__item3">
                <span>Contacto:</span>
                <ul class="us__list">
                    <li>E-mail: <a href="mailto:cateludo98@gmail.com" target="_blank">cateludo98@gmail.com</a> </li>
                    <li>Linkedin: <a href="https://www.linkedin.com/in/caterina-galli-157a301bb/" target="_blank">caterina-galli</a></li>
                    <li>Instagram: <a href="https://www.instagram.com/ludo_illustration/" target="_blank">ludo_illustration</a> </li>
                    <li>Github: <a href="https://github.com/CateG98" target="_blank">github.com/CateG98</a> </li>
                </ul>
            </div>
        </div>
    </div>
</section>
